<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ncs.UserMapper">
	
	<insert id="join">
	insert into member_tb 
	values 
	(#{email}
	,#{password}
	,#{phone}
	,#{birthd}
	,1000,
	sysdate) 
	</insert>
	
	<select id="selectOne" resultType="vo.UserVO">
	select * from member_tb where email = #{email}
	</select>
	
	<select id="ufindID" resultType="vo.UserVO">
	select * from member_tb where phone = #{phone}
	</select>
	
	<update id="updatePassword">
		UPDATE member_tb SET password = #{password} WHERE email = #{email}
	</update>


	<select id="terminalList" parameterType="String" resultType="vo.AllBusVO">
		SELECT * FROM all_bus_tb WHERE area = #{value}
	</select>
	
	<update id="changePW">
	update member_tb set password = #{newPW}
	where email = #{email} and password = #{password}
	</update>
	
	<update id="changeNumber">
	update member_tb set phone = #{phone}
	where email = #{email} and password = #{password}
	</update>
	
	
	
	
	





</mapper>  